<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quản lý điểm</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200;12..96,400;12..96,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/normalize.css">
    <link rel="stylesheet" href="/static/style/main.css">

    <link rel="stylesheet" href="/static/style/responsive.css">
</head>
<body>
<div id="content" style="margin-top:70px">
    <div class="col" id="display_info" >
        <div  style="display:flex">
            <div class="col info_student">
                <p class="text-bold">Họ tên:</p>
                <p th:text="${teacher.ten}"></p>
            </div>
            <div class="col info_student" >
                <p class="text-bold">Mã giảng viên:</p>
                <p th:text="${teacher.magiaovien}"></p>
            </div>
        </div>
    </div>
</div>
    <div class="full-web">
        <div class="header">
            <div class="home-btn item-header"><a href="/teacher.html" class="link-home"><img src="/static/image/home_icon.png" alt="">Trang chủ</a></div>
            <div class="user-btn item-header">
                <a href="#" class="link-user">
                    <span class="infor-user" id="js-infor-user"></span>
                    <img src="/static/image/user_icon.png" alt="">
                </a>
                <div class="logout-area" id="logout_bt">Đăng xuất<img src="/static/image/logout_icon.png" alt=""></div>
            </div>
        </div>

        <div class="containter">
            <form action="" class="box-list sub-list" name="sub-list">
                <select name="sub" class="list-choose" id="choose_sub">
                    <option th:if="${choosed_sub==null}" class="item-list title-list" id="sub0" value="sub0" selected>Lựa chọn môn học</option>
                    <option th:if="${choosed_sub!=null}" class="item-list title-list" th:text="${choosed_sub}"  th:value="${choosed_sub}" selected></option>
                    <option th:each="i:${#numbers.sequence(0,sub_list.size()-1)}" class="item-list" id="sub1" th:text="${sub_list[i]}" th:value="${sub_list[i]}"></option>
                </select>
            </form>
            <form action="" class="box-list class-list" name="class-list">
                <select name="class" class="list-choose" id="choose_class" >
                    <option th:if="${choosed_class==null}" class="item-list title-list" id="class0" value="sub0" selected>Lựa chọn lớp</option>
                    <option th:if="${choosed_class!=null}" class="item-list title-list" th:value="${choosed_class}" th:text="${choosed_class}"  selected>Lựa chọn lớp</option>
                    <option th:each="i:${#numbers.sequence(0,class_list.size()-1)}" th:text="${class_list[i]}" class="item-list" id="class1" th:value="${class_list[i]}"></option>
                </select>
            </form>
            <div id="main-center" >
                <form class="list-ntn-tch">
                    <button class="commom-btn" id="sv_button">Lưu</button>
                </form>
                <table class="mgn-point">
                    <thead class="mgn-head">
                        <tr>
                            <th class="mgn-head-title">Họ tên</th>
                            <th class="mgn-head-title">MSV</th>
                            <th class="mgn-head-title">Điểm quá trình</th>
                            <th class="mgn-head-title">Điểm thi</th>
                        </tr>
                    </thead>
                    <tbody class="mgn-body">
                        <tr class="row-body" th:if="${student_list!=null}" th:each="student:${student_list}">
                            <td th:text="${student.ten}" class="mgn-content" ></td>
                            <td th:text="${student.masinhvien}" class="mgn-content student_code"></td>
                            <td class="mgn-content"><input type="number" placeholder="Nhập điểm..." class="input-point qtr"></td>
                            <td class="mgn-content"><input type="number" placeholder="Nhập điểm..." class="input-point thi"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <script>
        const choose_sub= document.getElementById("choose_sub")
        const choose_class= document.getElementById("choose_class")
        const save_button=document.getElementById("sv_button")
        choose_class.addEventListener("change",function (){
            window.location='/teacher_homepage?class='+this.value+'&sub='+choose_sub.value;
        })
        save_button.addEventListener('click',function (){
            const msv=[];
            const qtr=[];
            const thi=[];
            const size=document.getElementsByClassName("student_code").length;
            debugger;
            class Point {
                msv;
                qtr;
                thi;
                constructor(){
                }
                setMsv(x){
                    this.msv=x;
                }
                getMsv(){
                    return this.msv;
                }
                setQtr(x) {
                    this.qtr = x;
                }
                getQtr(){
                    return this.qtr;
                }
                setThi(x){
                    this.thi=x;
                }
                getThi(){
                    return this.thi;
                }
            }
            for(let i = 0; i < size; i++){
                let point= new Point();
                debugger;
                const x=document.getElementsByClassName("mgn-content student_code")[i].textContent;
                const y=document.getElementsByClassName("input-point qtr")[i].value;
                const z=document.getElementsByClassName("input-point thi")[i].value;
                msv.push(x);
                qtr.push(y);
                thi.push(z);
            }
            debugger;
            window.location='/nhapdiem?class='+choose_class.value+'&sub='+choose_sub.value+'&msv='+msv+'&qtr='+qtr+'&thi='+thi;
        })
    </script>
    <script src="/static/js/logic.js"></script>
    <script src="/static/js/teacher.js"></script>
</body>
</html>